body {
    background: #000000;
}

.name {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 10px;
}

.connect {
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.container {
    border: 2px solid #ffffff;
        height: 290px;
        position: relative;
        top: 20px;
        padding-bottom: 320px;
        border-radius: 10px;
}

.mini-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fa-user, 
.fa-weixin {
    color: #000000;
    position: relative;
    top: 30px;
    left: -110px;
}

.ident {
    margin: 5px;
    padding: 5px 50px ;
    border-radius: 10px;
    border: 2px solid #ffe600;
    background: #dbdbdb;
}

.btn {
    position: relative;
    top: 25px;
    padding: 8px 20px;
    border: 2px solid #ffe600;
    border-radius: 3px;
}

.btn:hover {
    background: #dbdbdb92;
}
